# Ejercicios para practicar - Estructura de datos

A continuación encontraréis un conjunto de problemas que pueden servir para practicar los conceptos explicados en esta primera unidad, así como para refrescar los conceptos básicos de programación. Os recomendamos que intentéis realizar estos problemas vosotros mismos y que, una vez realizados, comparéis la solución que proponemos con vuestra solución. No dudéis en dirigir todas las dudas que surjan de la resolución de estos ejercicios, o bien de las soluciones propuestas, al foro del aula.

1. Decidid cuál es la estructura de datos más adecuada para responder a cada una de las preguntas siguientes y escribid el código que permita responderlas.

Disponemos de datos de un conjunto de ciudades del mundo. De cada ciudad, sabemos si tiene más de 14 millones de habitantes, si es capital del país donde se encuentra y si tiene una densidad de población por encima de los 20.000 habitantes por $km^2$:
* Las ciudades Shanghai, Beijing, Delhi, Estambul, Karachi, Guangzhou y Kinshasa tienen más de 14 millones de habitantes. El resto de las ciudades de las que tenemos datos tienen 14 millones o menos de habitantes.
* Las ciudades Delhi, Beijing, Kinshasa, Tokio, Moscow, Jakarta, Seoul y El Cairo son capitales del país donde se encuentran. El resto de las ciudades de las que tenemos datos no son capitales.
* Las ciudades El Cairo, Kinshasa, Delhi y Tokio tienen una densidad de población por encima de los 20.000 habitantes por $km^2$. El resto de las ciudades de las que tenemos datos no superan los 20.000 habitantes por $km^2$. 

1.1. ¿De cuántas ciudades (diferentes) tenemos datos? Asumiremos que no hay ninguna ciudad que no cumpla al menos una de las propiedades anteriores.

In [1]:
hab_mas_14 = {'Shanghai', 'Beijing', 'Delhi', 'Estambul', 'Karachi', 'Guangzhou', 'Kinshasa'}
capitales = {'Delhi', 'Beijing', 'Kinshasa', 'Tokio', 'Moscow', 'Jakarta', 'Seoul', 'El Cairo'}
dens_mas_20k = {'El Cairo', 'Kinshasa', 'Delhi', 'Tokio'}

total = hab_mas_14 | capitales | dens_mas_20k

len(total)

12

1.2. ¿Cuántas ciudades tienen más de 14 millones de habitantes y una densidad de población por encima de los 20.000 habitantes por $ km ^ 2 $?

In [2]:
len(hab_mas_14 & dens_mas_20k)

2

1.3. ¿Qué ciudades tienen una densidad de población por encima de los 20.000 habitantes por $ km ^ 2 $ pero no más de 14 millones de habitantes?

In [3]:
dens_mas_20k - hab_mas_14

{'El Cairo', 'Tokio'}

1.4. ¿Cuál es el país con mayor número de ciudades por encima de 14 millones de habitantes? ¿Cuántas ciudades de estas características hay en cada país?

Para responder a estas preguntas, nos faltará añadir información al conjunto de datos de ciudades disponible para realizar la actividad. Pensad cuál sería la estructura de datos más adecuada para almacenar esta información extra y calcular la respuesta a la pregunta planteada.

In [4]:
paises = {'China': ['Shanghai', 'Beijing', 'Guangzhou'],
            'India': ['Delhi'],
            'Turquía': ['Estambul'],
            'Pakistán': ['Karachi'],
            'Congo': ['Kinshasa'],
            'Egipto': ['El Cairo'],
            'Indonesia': ['Jakarta'],
            'Rusia': ['Moscow'],
            'Corea del Sur': ['Seoul'],
            'Japón': ['Tokio']
        }


for key, value in paises.items():
    for city in value:
        if city not in hab_mas_14:
            paises[key].pop()
    print(f'{key}: {len(paises[key])}')


print(f'\nPaís con más ciudades: {max(paises, key=paises.get)}')

China: 3
India: 1
Turquía: 1
Pakistán: 1
Congo: 1
Egipto: 0
Indonesia: 0
Rusia: 0
Corea del Sur: 0
Japón: 0

País con más ciudades: China

1.5. ¿Cuáles son los dos países adyacentes que tienen el mayor número de ciudades por encima de 14 millones de habitantes?

Para responder a esta pregunta, nos faltará añadir más información al conjunto de datos de ciudades disponible para realizar la actividad. De nuevo, pensad cuál sería la estructura de datos más adecuada para almacenar esta información extra y calcular la respuesta a la pregunta planteada.

In [5]:
paises_adyacentes = {'China': ['India', 'Pakistán', 'Rusia'],
                    'India': ['Pakistán', 'China', 'Indonesia'], # Puede considerarse Indonesia como adyacente por su cercanía
                    'Pakistán': ['China', 'India'],
                    'Indonesia': ['India'],
                    'Rusia': ['China'],
                    'Corea del Sur': ['Japón'], # Similar a Indonesia, diremos que Japón es adyacente a Corea del Sur por su proximidad
                    'Japón': ['Corea del Sur']
                    }


emparejados_suma = dict()
for key, value in paises_adyacentes.items():
    hab = len(paises[key])
    ady_lista = sorted([[len(paises[city]), city] for city in value], reverse=True)
    if f'{ady_lista[0][1]} y {key}' not in emparejados_suma.keys():
        emparejados_suma[f'{key} y {ady_lista[0][1]}'] = ady_lista[0][0] + hab


maximo = emparejados_suma[max(emparejados_suma, key=emparejados_suma.get)]
print(f'Combinaciones de dos países adyacentes entre ambos con el mayor número de ciudades ({maximo}):')
for key, value in emparejados_suma.items():
    if value == maximo:
        print(key)

Combinaciones de dos países adyacentes entre ambos con el mayor número de ciudades (4):
China y Pakistán
India y China

2. Calculad cuántas horas ha trabajado la persona que ha escrito la siguiente frase:

"I started working at 17:22:42 and finished at 22:00:00"

In [6]:
from datetime import datetime

sentence = "I started working at 17:22:42 and finished at 22:00:00"

start, finish = sentence.split()[4], sentence.split()[-1]

start, finish = datetime.strptime(start,'%H:%M:%S'), datetime.strptime(finish,'%H:%M:%S')

print(finish - start)

4:37:18

3. Dada la cadena de caracteres `sentence`, reemplazad todos los espacios en blanco por puntos.

In [7]:
sentence = " From     time to time, Python makes  an    incompatible change " \
    " to the   advertised semantics of core language constructs   "

sentence.replace(" ", ".")

'.From.....time.to.time,.Python.makes..an....incompatible.change..to.the...advertised.semantics.of.core.language.constructs...'

4. Dada la misma cadena de caracteres del ejercicio anterior, reemplazad todos los espacios en blanco contiguos por un único punto. Es decir, si encontráis tres espacios en blanco consecutivos, estos se deben reemplazar por un único punto, y no por tres puntos como implementábamos en el ejercicio anterior. Eliminad los espacios que se encuentran al inicio y al final de la cadena antes de sustituirlos por puntos.

In [8]:
clean = [digit for digit in sentence.strip().split(' ') if digit != '']

"".join([digit + '.' if digit != clean[-1] else digit for digit in clean])

'From.time.to.time,.Python.makes.an.incompatible.change.to.the.advertised.semantics.of.core.language.constructs'

5. Proporcionad una lista con todas las palabras de cuatro letras de la cadena de caracteres `sentence` que empiecen por `t` o `F`.

In [9]:
[word for word in sentence.replace(',', '').split() if (word[0] == 't' or word[0] == 'F') and len(word) == 4]

['From', 'time', 'time']

6. Reemplazad todas las mayúsculas de la cadena `sentence` por interrogantes.

In [10]:
''.join(['?' if digit == digit.capitalize() and digit.isalpha() else digit for digit in sentence])

' ?rom     time to time, ?ython makes  an    incompatible change  to the   advertised semantics of core language constructs   '

7. Una aerolínea nos contrata para ayudarla a optimizar el procedimiento de embarque de sus aviones. La aerolínea dispone de tres clases de billetes: primera, *business* y turista. A la hora de embarcar, los clientes se sitúan en tres colas, una para cada clase. Después, sin embargo, solo hay dos azafatas que les validen la tarjeta de embarque, por lo que las tres colas iniciales se convierten en dos, a partir de las cuales los pasajeros acceden a los aviones.

Actualmente, la aerolínea utiliza la siguiente estrategia para convertir las tres colas iniciales (por clase) en las dos colas que embarcan (una por cada azafata):

Por un lado, los clientes de primera y *business* van a parar a la cola 1 (cola prioritaria), intercalando un cliente de cada tipo en la cola prioritaria siempre que haya suficientes clientes para hacerlo, y asignando después todos los clientes restantes a la nueva cola. Así, el primer cliente que se asigna a la cola prioritaria es el primer cliente de la clase primera, el segundo cliente de la cola prioritaria será el primer cliente de la cola de *business*, el tercer cliente de la cola prioritaria será el segundo cliente de la clase primera, etc.

Por otra parte, los clientes de clase turista van a parar a la cola 2 (cola no prioritaria), siguiendo el orden que tenían en la cola de la clase turista. Ahora bien, si un cliente de clase turista tiene movilidad reducida o va acompañado de niños, entonces este se sitúa al frente de la cola prioritaria. Si hay más de un cliente en estas condiciones, el orden que siguen en la cola de la clase turista se mantiene.

Para evaluar cómo de buena es la estrategia, la aerolínea utiliza dos métricas:
1. El tiempo que se tarda en embarcar el avión es de 30 segundos por pasajero, considerando que las dos colas (1 y 2) embarcan a la vez. Es decir, si la cola 1 tiene un pasajero y la cola 2 tiene dos, se tardará un minuto en embarcar.
2. La satisfacción global de sus clientes, que se calcula haciendo la media de la satisfacción de cada cliente, considerando que:

* Los clientes de primera tienen una satisfacción de -25 veces el número de posiciones que han perdido en la cola prioritaria respecto a su posición original en la cola de primera. Es decir, un cliente que estaba en tercera posición en la cola de primera y que ocupa la quinta posición de la cola prioritaria, tendrá una satisfacción de -50.
* Los clientes de *business* siempre tienen una satisfacción de 0.
* Los clientes con billete de clase turista que han sido movidos a la cola prioritaria tienen una satisfacción de 100. En cambio, los que han sido movidos a la cola no prioritaria tienen una satisfacción de 25 si han avanzado alguna posición en la cola 2 respecto a su posición inicial en la cola de la clase turista, o de 0 en cualquier otro caso.

Como analistas de datos, evaluaremos la satisfacción y el tiempo de embarque del avión del vuelo 714.

7.1 Cargad los datos de los pasajeros del vuelo 714 que encontraréis en el dataset `data/flight714.csv` y cread las tres colas, primera, *business* y turista, con los datos de los pasajeros. Los clientes se encuentran ordenados según su posición en la cola, con la columna `client_class` indicando a cuál de las colas pertenecen.

In [11]:
import pandas as pd


ruta_fichero = r"C:\Users\Roger\Desktop\THEBRIDGE\TheBridge_DataScience_PT_ALUMNI_sep22\02_DATA_ANALYSIS\01_PYTHON_201\week06\pracs\flight714.csv"
df_pasajeros = pd.read_csv(ruta_fichero)


df_pasajeros

    client_id client_class  has_children  has_reduced_mobility
0           1            p             0                     0
1           2            p             0                     0
2           3            p             0                     0
3           4            b             0                     0
4           5            b             0                     0
5           6            b             0                     0
6           7            b             0                     0
7           8            b             0                     0
8           9            b             0                     0
9          10            b             0                     0
10         11            b             0                     0
11         12            b             0                     0
12         13            b             0                     0
13         14            t             0                     0
14         15            t             1                     0
15         16            t             0                     0
16         17            t             1                     0
17         18            t             0                     0
18         19            t             0                     0
19         20            t             0                     0
20         21            t             0                     0
21         22            t             0                     0
22         23            t             0                     0
23         24            t             0                     0
24         25            t             0                     0
25         26            t             0                     0
26         27            t             0                     0
27         28            t             0                     0
28         29            t             0                     0
29         30            t             0                     0
30         31            t             1                     0
31         32            t             0                     0
32         33            t             0                     0
33         34            t             0                     0
34         35            t             0                     0
35         36            t             0                     1
36         37            t             0                     0
37         38            t             0                     0
38         39            t             0                     0
39         40            t             0                     1
40         41            t             0                     0
41         42            t             0                     0
42         43            t             0                     0
43         44            t             0                     0
44         45            t             0                     0
45         46            t             0                     0
46         47            t             1                     1
47         48            t             0                     0
48         49            t             0                     0
49         50            t             0                     0

7.2 Mostrad cuántos pasajeros hay en cada cola, con el detalle de cuántos de ellos tienen o bien niños o bien movilidad reducida.

In [12]:
# Este ejercicio lo resolví de 2 maneras. Manera 1:

clase_p = df_pasajeros[df_pasajeros['client_class'] == 'p']
clase_b = df_pasajeros[df_pasajeros['client_class'] == 'b']
niños = df_pasajeros[(df_pasajeros['client_class'] == 't') & (df_pasajeros['has_children'] == 1)]
reducida = df_pasajeros[(df_pasajeros['client_class'] == 't') & (df_pasajeros['has_reduced_mobility'] == 1)]
solapados = niños.loc[niños['has_children'] == niños['has_reduced_mobility']]


prioritarios = (len(clase_p)
                + len(clase_b)
                + len(niños.loc[niños['has_children'] != niños['has_reduced_mobility']])
                + len(reducida)
                ) 
no_prioritarios = len(df_pasajeros['client_class']) - prioritarios


print(f"Hay {no_prioritarios} no prioritarios y {prioritarios} prioritarios, de los cuales {len(niños)} con niños y {len(reducida)} con movilidad reducida (solapados: {len(solapados)}).")

Hay 31 no prioritarios y 19 prioritarios, de los cuales 4 con niños y 3 con movilidad reducida (solapados: 1).

In [13]:
# Manera 2:

df_pasajeros['prioritarios'] = ((df_pasajeros['client_class'] == 'p') 
                                | (df_pasajeros['client_class'] == 'b') 
                                | ((df_pasajeros['client_class'] == 't') & ((df_pasajeros['has_children'] == 1)
                                                                            | (df_pasajeros['has_reduced_mobility'] == 1))
                                    )
                                )


df_prioridades = df_pasajeros.groupby(['prioritarios','has_children','has_reduced_mobility']).count()
df_prioridades.drop(columns='client_class')
df_prioridades.rename(columns={'client_id': 'Nº pasajeros'}, inplace=True)

df_prioridades[df_prioridades.columns[0:1]]

                                                Nº pasajeros
prioritarios has_children has_reduced_mobility
False        0            0                               31
True         0            0                               13
                          1                                2
             1            0                                3
                          1                                1

7.3 Implementad una función que genere las dos colas de embarque (cola prioritaria y cola no prioritaria) a partir de las tres colas obtenidas según la clase del billete del pasajero.

In [14]:
def crea_colas(dataframe_colas):
    '''Require como argumento posicional un dataframe con la columna client_class (letras 'p', 'b' o 't'), además de las columnas has_children y has_reduced_mobility (números 0 o 1)'''
    clase_p_lista = list(enumerate(['p' for i in range(len(dataframe_colas[dataframe_colas['client_class'] == 'p']))], 1))
    clase_b_lista = list(enumerate(['b' for i in range(len(dataframe_colas[dataframe_colas['client_class'] == 'b']))], 1))

    prioritarios_lista_sin_turistas = []
    while clase_p_lista or clase_b_lista:
        if clase_p_lista:
            prioritarios_lista_sin_turistas.append(clase_p_lista.pop(0))
        if clase_b_lista:
            prioritarios_lista_sin_turistas.append(clase_b_lista.pop(0))

    indice_turistas = list(enumerate(dataframe_colas.index[dataframe_colas['client_class'] == 't'].tolist(), 1))
    indice_red_o_nin = dataframe_colas.index[(dataframe_colas['client_class'] == 't') & ((dataframe_colas['has_children'] == 1) 
                                                                                        | (dataframe_colas['has_reduced_mobility'] == 1)
                                                                                        )
                                            ].tolist()

    no_prioritarios_lista = []
    redynin_lista = []
    for indice in indice_turistas:
        if indice[1] in indice_red_o_nin:
            redynin_lista.append((indice[0],'t'))
        else:
            no_prioritarios_lista.append((indice[0],'t'))

    prioritarios_lista = redynin_lista + prioritarios_lista_sin_turistas

    return (prioritarios_lista, no_prioritarios_lista)


# El número de cada tupla es la posición del pasajero dentro de su categoría original. La letra indica la categoría en sí.
print(f'Cola prioritaria: {crea_colas(df_pasajeros)[0]}')
print('\n')
print(f'Cola no prioritaria: {crea_colas(df_pasajeros)[1]}')

Cola prioritaria: [(2, 't'), (4, 't'), (18, 't'), (23, 't'), (27, 't'), (34, 't'), (1, 'p'), (1, 'b'), (2, 'p'), (2, 'b'), (3, 'p'), (3, 'b'), (4, 'b'), (5, 'b'), (6, 'b'), (7, 'b'), (8, 'b'), (9, 'b'), (10, 'b')]


Cola no prioritaria: [(1, 't'), (3, 't'), (5, 't'), (6, 't'), (7, 't'), (8, 't'), (9, 't'), (10, 't'), (11, 't'), (12, 't'), (13, 't'), (14, 't'), (15, 't'), (16, 't'), (17, 't'), (19, 't'), (20, 't'), (21, 't'), (22, 't'), (24, 't'), (25, 't'), (26, 't'), (28, 't'), (29, 't'), (30, 't'), (31, 't'), (32, 't'), (33, 't'), (35, 't'), (36, 't'), (37, 't')]

7.4 Implementad una función que calcule el tiempo que se tarda en embarcar el avión y una función que calcule la satisfacción de los pasajeros.

In [15]:
from datetime import timedelta


def calcula_tiempo(cola_1, cola_2):
    '''Requiere como argumento posicional dos listas'''
    if len(cola_1) > len(cola_2):
        return str(timedelta(seconds=30 * len(cola_1)))
    else:
        return str(timedelta(seconds=30 * len(cola_2)))


def calcula_media_satisfaccion(cola_pri, cola_tur):
    '''Requiere como argumento posicional dos listas de tuplas, cuyo primer elemento es un número int y el segundo es una letra ('t' o ('t', 'b' y 'p'))'''
    cola_pri_previa = [cliente for cliente in cola_pri if cliente[1] != 't']
    
    satisfaccion_tur = []
    for index, tupla in enumerate(cola_tur, 1):
        if index != tupla[0]:
            satisfaccion_tur.append(25)
        else:
            satisfaccion_tur.append(0)
    
    satisfaccion_pri = []
    for index_actual, cliente in enumerate(cola_pri, 1):
        if cliente[1] == 't':
            satisfaccion_pri.append(100)
        elif cliente[1] == 'b':
            satisfaccion_pri.append(0)
        for index_antes, cliente_antes in enumerate(cola_pri_previa, 1):
            if cliente[1] == 'p' and cliente == cliente_antes:
                satisfaccion_pri.append((index_actual-index_antes) * -25)
    
    satisfaccion = satisfaccion_tur + satisfaccion_pri
    return sum(satisfaccion) / len(satisfaccion)

7.5 Calculad el tiempo que se tarda en embarcar el vuelo 714 y la satisfacción de los clientes.

In [16]:
cola_prioritaria = crea_colas(df_pasajeros)[0]
cola_no_prioritaria = crea_colas(df_pasajeros)[1]


print('En el vuelo 714:')
print(f'- Se tarda {calcula_tiempo(cola_prioritaria, cola_no_prioritaria)} en embarcar')
print(f'- La media de satisfacción es de {calcula_media_satisfaccion(cola_prioritaria, cola_no_prioritaria)}')

En el vuelo 714:
- Se tarda 0:15:30 en embarcar
- La media de satisfacción es de 18.0