# Funciones anónimas

- lambda
- map
- reduce
- filter

## Lambda

Se utiliza una única expresión, es evaluada con argumentos cuando se llama la función, y el resultado de esta evaluación es el valor que devuelve la función

https://docs.python.org/3/tutorial/controlflow.html?highlight=lambda#lambda-expressions

```
lambda par1, par2 : expr1, expr2

```

![](funcion_lambda.gif)

In [1]:
# Definimos una función lambda que suma dos valores
lambda x, y : x+y

In [2]:
# definimos una función lambda que suma dos valores y la llamamos
(lambda x, y : x+y)(5,9)

14

In [3]:
# Definimos una función lambda que suma dos valores y le asignamos a una variable suma
suma = lambda x,y : x+y

In [4]:
suma(5,4)

9

In [5]:
suma(6,9)

15

## Map

la función `map` recibe como parámetros una función (built-in, custom, lambda) y un iterable, y devuelve un iterador que aplica la función proporcionada a cada uno de los elementos del iterable.

https://docs.python.org/3/library/functions.html#map

```
map(fun, iterable)
```

In [6]:
def suma_dos(x):
    """Añade 2 al valor que recibe como parámetro"""
    return x + 2

# Aplicamos la función a cada uno de los elementos de un iterable, lista
lista = [5, 7, 8, 9, 1]
op_suma = map(suma_dos, lista)

In [7]:
op_suma # devuelve un iterador

```
lista = []
for n in op_suma:
    if n % 2 == 0:
        lista.append(n)
```

In [8]:
lista_2 = [n for n in op_suma if n % 2 == 0]

In [9]:
lista_2

[10]

In [10]:
list(op_suma)

[]

In [11]:
list(op_suma)

[]

In [12]:
print(list(op_suma))

[]

In [13]:
for n in lista:
    print(n)

5
7
8
9
1

In [14]:
[suma_dos(x) for x in lista]

[7, 9, 10, 11, 3]

In [15]:
type(op_suma)

map

In [16]:
# Definimos una función que convierte cadenas de caracteres que expresan
#valores numéricos (decimales) en enteros
def convert_to_int(x):
    ''' valores string numéricos (decimales) en enteros '''
    return int(float(x))

In [17]:
lista = ["50.6", "15.4", "120000"]

# Guardamos los resultados en un objeto lista
#conv = list(map(convert_to_int, lista))

# Alternativa con list comprehension
conv = [n for n in map(convert_to_int, lista)]
conv

[50, 15, 120000]

In [18]:
# Crear una función que calcula el precio de un piso a partir de los metros cuadrados, el estado de conservación, y el vecindario

def compute_price(sqm, status, neigh):
    '''Calcular el precio del piso'''

    #TODO
    # declarar los parámetros
    price_sqm = 1000
    factor = 
    # Realizar el cálculo

    # Si el piso se encuentra en un barrio pijo, se aplica un factor
    # multiplicativo al precio del piso

    # Si es piso se encuentra en un barrio chungo, se le resta un factor

    # Si el piso es nuevo, nueva construcción, hay un factor multiplicativo 
    # al precio del piso

    return price

SyntaxError: invalid syntax (1738488647.py, line 9)

In [22]:
# si al realizar la operación
compute_price(100, "Nuevo", "A")

NameError: name 'compute_price' is not defined

In [21]:
# Y si tengo más pisos?
sqm_list = [......]
status_list = [.......]
neigh_list = [.....]

lista_precio = list(map(compute_price, params...))

SyntaxError: invalid syntax (4150539736.py, line 2)

# Filter

la función `filter` recibe también parámetros y un iterable, devuelve un iterador recorre los elementos , evalua la función cuando esta sea True

```
filter(fun, iterable)
```

In [19]:
# Definimos la función is_numeric devuelve True si recibe un entero o un 
# flotante como argumento, False en caso contrario

def is_numeric(x):
    if type(x) == float or type(x) == int:
        return True
    return False

In [20]:
# Definimos una lista
lista_mixta = [1, 2, "Three", "four", 5 , 5.6, 6, [2, 5.4, 0], None, True]

# aplicamos filter de la lista con la función is_numeric
resultado = list(filter(is_numeric, lista_mixta))
resultado

[1, 2, 5, 5.6, 6]

# Reduce

La función `reduce` recibe una función y un iterable. La función aplica de manera acumulativa, la función recibe como argumento los elementos del iterable. Tiene que devolver un solo valor. 

```
f(f(f(1,2), 3), 4)

```

In [23]:
def max_dos(x, y):
    if x > y:
        return x
    else:
        return y

In [24]:
from functools import reduce

lista = [1, 2, 3, 4]
reduce(max_dos, lista)

4

In [25]:
max_dos(max_dos(max_dos(1, 2), 3), 4)

4

### Lab 01
Veremos un ejemplo que combina las tres funciones (reduce, map, filter). Supongamos que queremos definir una función que reciba una lista y devuelva el producto de los cuadrados de todos los elementos impares de la lista. Combinando las tres funciones.

In [26]:
# Definimos una función que devuelve el producto de dos valores
def prod_dos_valores(x, y):
    return x * y

# Definimos una función que devuelve el cuadrado de un valor
def square(x):
    return x ** 2

# Definimos una función que devuelve True si el valor es impar y False en caso contrario
def is_odd(x):
    return x % 2 != 0

In [27]:
# Definimos la función completa devuelve el producto de los cuadrados de los valores impares de una lista
def prod_sq_if_odd(lista):
    return reduce(prod_dos_valores, map(square, filter(is_odd, lista)))

In [28]:
print(5**2 * 9**2)

2025

In [29]:
lista_valores = [5, 6, 9, 8]
prod_sq_if_odd(lista_valores)

2025

In [30]:
# Realizar la misma función con lambda , map, filter, reduce

# Definimos la función completa devuelve el producto de los cuadrados de los valores impares de una lista
def prod_sq_if_odd(lista):
    return reduce(lambda x,y :x*y, 
                    map(lambda x: x**2, 
                        filter(lambda x: x%2, lista)))

In [31]:
prod_sq_if_odd(lista_valores)

2025

***

### Lab 02

Sumamos 2 a cada uno de los elementos que expresan valores numéricos (posiblemente decimales) de una lista en enteros 
utilizando una función anónima

In [32]:
lista = [1, 2, 3, 4]

lista = list(map(lambda x: int(x + 2), lista))

lista

[3, 4, 5, 6]

***

### Lab 03

Convertimos las cadenas de caracteres que expresan valores numéricos (posiblemente decimales) de una lista en enteros utilizando una función anónima

In [33]:
lista = ["42.45", "13.4", "12000"]

lista = list(map(lambda x: int(float(x)), lista))

lista

[42, 13, 12000]

***

### Lab 04

Filtramos de una lista los valores numéricos

In [24]:
lista = [1, 2, "three", "four", 5, 5.5, 6, [0, 0, 1], None]


lista_en_lista = [valor for valor in lista if isinstance(valor, list)]

for valor in lista_en_lista[0]:
    lista.append(valor)

lista = [valor for valor in lista if isinstance(valor, int) or isinstance(valor, float)]

lista

[1, 2, 5, 5.5, 6, 0, 0, 1]

***
### Lab 05

Calculamos el máximo de una lista con reduce y una función anónima que devuelve el máximo de dos valores

In [35]:
from functools import reduce

lista = [10, 1, 15, 19, 30]

reduce(lambda x, y: x if x > y else y, lista)

30